.shop-container{
    display: grid;
    grid-template-columns:4fr 1fr;
    margin-top: 70px;
}
.products-container{
    display: grid;
    grid-template-columns:repeat(3,1fr);
    grid-gap: 45px;
    /* margin:100px 20px */
}
.cart-container{
    background-color: #f6cde7;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}
 .cart-title{
    font-weight: 700;
    color: #e90687;
    margin: 20px;
} 
.sidebar-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.btn-cart{
    margin-bottom: 20px;
}
@media screen and (max-width:1100px){
    .products-container{
        grid-template-columns: repeat(2,1fr);
    }
}
@media only screen and (max-width: 600px) {
    .products-container{
        grid-template-columns: 1fr;
        margin-left:50px;
    }
  }
@media only screen and (max-width: 600px) {
    .shop-container{
        grid-template-columns: 1fr;
    }
  }
@media only screen and (max-width: 600px) {
    .cart-container{
        grid-template-columns: 1fr;
        width: 300px;
        margin-left: 50px;
        padding: 20px;
    }
  }