/* .cart{
    position: sticky;
    top:0;
    padding: 20px 15px;
} */
.cart-info{
    display: flex;
    align-items: center;
}
.cart-info img{
    width: 30px;
}
.cart{
     margin-left: 30px;
}
.phone-name{
    padding: 12px;
    margin-top: 10px;
}